
.mat-toolbar
{
background-color: blue;
height: 80px;

}

.div1
{
background-color:white;
height: 35em;
width: 24em;
border-radius: 10px;
border-style: solid;
border-color: blue;
margin-inline-start: 5em;
margin-top: 7em;
float: left;

/*max-height: 35em;
overflow-y: scroll;*/

}


h2
{
    margin-inline-start: 4.5em;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.mat-form-field1
{
  width: 20em;
  margin-inline-start: 1em;

}

.mat-raised-button1
{
    
    margin-inline-start: 4em;
    background-color: whitesmoke;
    color: red;
    
    border-radius: 10px;
    text-align: center;
    
}
.mat-raised-button2
{
    
    
    background-color: whitesmoke;
    color: red;
    margin-inline-start: 2em;
    border-radius: 10px;
    text-align: center;
    
}



.div2
{
    float: left;
    background-color:white;
    height: 35em;
    width: 24em;
    border-radius: 10px;
    border-style: solid;
    border-color: blue;
    margin-inline-start: 3em;
    margin-top: 7em;
    /*max-height: 35em;
    overflow-y: scroll;*/
}



/*
.addlabel
{
    
    margin-inline-start: 14em;   
    padding: 10px;
    color: red;
    
}
.removelabel
{    
    padding: 10px;
    color: red;
    
}*/

.mat-raised-button1:hover,.mat-raised-button2:hover ,.selectremove:hover
{
    border-color: red;
    border-style: solid;
}





.input
{
    width: 8em;
    margin-inline-start: 1em;
    border-radius: 5px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    
}

.input2select

{
    width: 8em;
    margin-inline-start: 1em;
    border-radius: 5px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

.timestamp
{

    
    width: 12.4em;
    margin-inline-start: 1em;
    border-radius: 5px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: center;

}

.inputmaterial

{
    width: 8em;
    margin-inline-start: 1em;
    border-radius: 5px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

.selectremove
        {
        
        margin-top: 1em;
        margin-inline-start: 1em;
        background-color: whitesmoke;
        color: red;
        border-radius: 10px;
        text-align: left;
             
    }


    .div3
{
    float: left;
    background-color:white;
    height: 35em;
    width: 24em;
    border-radius: 10px;
    border-style: solid;
    border-color: blue;
    margin-inline-start: 3em;
    margin-top: 7em;
    
}

    .adddriverinput
    {
        margin-inline-start: 3em;
        margin-top: 1em;
        width: 18em;
    }

    .adddriver
    {
        background-color: blue;
        color:white;
        margin-inline-start: 3em;
        margin-top: 2em;
    }

    .removedriver
    {
        background-color: blue;
        color:white;
        margin-inline-start: 2em;
        margin-top: 2em;

    }

    .samplediv
    {
        max-height: 27em;
        overflow-y: scroll; 
    }

    .getrecords
    {
        margin-inline-start: 7.5em;
        background-color: blue;
        color: white;
    }


/*////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////
///////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
*/


@media only screen and (max-width: 500px) 
{
   
    .mat-toolbar
    {
    
        background-color:blue;
        height: 80px;
    }
 
    .div1
    {
        background-color:white;
        height: 35em;
        width: 20em;
        border-radius: 10px;
        border-style: solid;
        border-color: blue;
        margin-inline-start: 2em;
        margin-top: 5em;
        float: left;

      /*  max-height: 35em;
        overflow-y: scroll;*/

    }

    .mat-toolbar h2
    {
        margin-inline-start: 5em;
        color: white;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }

    .input
    {
        width: 7em;
        margin-inline-start: 1em;
        border-radius: 5px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        font-size: 12px;
        text-align: left;
        
    }

    .timestamp
    {
    
        
        width: 12em;
        margin-inline-start: 1em;
        border-radius: 5px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        text-align: left;
        font-size: 11px;
    
    }

    .mat-form-field
    {
        margin-inline-start: 2em;
        outline-color: blue;
        width: 14em;
       
    }

    .mat-raised-button1
    {
        
        margin-inline-start: 2.5em;
        background-color: whitesmoke;
        color: red;
        width: 2em;
        border-radius: 10px;
        text-align: center;
        
    }

    .mat-raised-button2
    {
        
        
        background-color: whitesmoke;
        color: red;
        
        border-radius: 10px;
        text-align: left;     
    }
    .mat-raised-button1:hover,.mat-raised-button2:hover ,.selectremove:hover
    {
        border-color: red;
        border-style: solid;
    }

    
    


    .div2
    {
        
        float:left;
        margin-top: 2em;
        margin-inline-start: 2em;
        background-color:white;
        height: 35em;
        width: 20em;
        border-radius: 10px;
        border-style: solid;
        border-color: blue;
        /*max-height: 35em;
        overflow-y: scroll;*/
    }

  
      
    .input2select

    {
        width: 7em;
        border-radius: 5px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        text-align: left;
        font-size: 12px;
    }


    .inputmaterial

    {
        width: 8em;
        margin-inline-start: 1em;
        border-radius: 5px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        text-align: left;
    }

    .selectremove
        {
        
       
        margin-inline-start: 1em;
        background-color: whitesmoke;
        color: red;
        border-radius: 10px;
        text-align: left;
             
    }


    .div3
    {
        float: left;
        background-color:white;
        height: 35em;
        width: 20em;
        border-radius: 10px;
        border-style: solid;
        border-color: blue;
        margin-inline-start: 3em;
        margin-top: 7em;
        
    }

    .adddriverinput
    {
        margin-inline-start: 3em;
        margin-top: 1em;
        width: 14em;
    }

    .adddriver
    {
        background-color: blue;
        color:white;
        margin-inline-start: 6.5em;
        margin-top: 2em;
    }

    .removedriver
    {
        background-color: blue;
        color:white;
        margin-inline-start: 5.5em;
        margin-top: 2em;
    
    }

    .getrecords
    {
        margin-inline-start: 6em;
        background-color: blue;
        color: white;
    }
        

    
}